{
    email server@mstagency.ru
}
www.growheads.com {
    redir https://growheads.ru{uri}
}
growheads.com {
    redir https://growheads.ru{uri}
}
www.growheads.ru {
    redir https://growheads.ru{uri}
}
growheads.ru {
    reverse_proxy grow_heads:80
}
http://*.growheads.ru {
    reverse_proxy container_{labels.2}:80
}
